.role-dropdown {

  .dropdown-button {
    min-width: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.row-controls {
  justify-self: end;

  .remove-button {
    color: #343333;
  }
}

.moderator-name {
  width: 100%;
  display: flex;
  align-items: center;
}
