<div class="p-b-lg">
    {{#content-placeholders as |placeholder|}}
        <div class="icon--skeleton">{{placeholder.icon}}</div>
    {{/content-placeholders}}
    <div class="action-body--skeleton">
        {{#content-placeholders as |placeholder|}}
            <div class="action-heading--skeleton">{{placeholder.text lines=1}}</div>
            {{placeholder.heading}}
        {{/content-placeholders}}
    </div>
</div>
