<div class="sidebar-header">
    {{t 'components.dashboardSidebar.providers'}}
</div>
<div class="sidebar-body">
    {{#each providers as |provider|}}
        {{provider-links provider=provider}}
    {{/each}}
</div>
